*{box-sizing:border-box;}

body{
  background-image: url("portal.gif");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}

.echo {
  font-family: "Monaco";
  color: #ffffff;
  font-weight: bold;
}

form{
  width: 450px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #3c3c48;
}

form h2{
  font-family: "Copperplate";
  color: #bd4b64;
}

form h3{
  font-family: "Monaco";
  color: #cacbd0;
}

form p{
  width: 140px;
  font-family: "Times New Roman";
  color: #cacbd0;
  font-weight: bold;
  display: inline-block;
}

form input[type="text"],
form input[type="number"],
form input[type="email"]{
  width:270px;
  padding:3px 10px;
  font-family: "Courier New";
  color: #000000;
  border:1px solid #151515;
  border-radius:5px;
  background-color:#DDD091;
  margin:8px 0;
  display:inline-block;
}

form input[type="submit"],
form input[type="button"]{
  width:100%;
  padding:8px 16px;
  font-family: "Georgia";
  font-weight: bold;
  margin-top:32px;
  border:2px solid #949598;
  border-radius:5px;
  display:block;
  color:#942b41;
  background-color:#a8a9ab;
} 

form input[type="submit"]:hover,
form input[type="button"]:hover{
  cursor:pointer;
}

textarea{
  width:100%;
  height:100px;
  border:1px solid #f6f6f6;
  border-radius:3px;
  background-color:#f6f6f6;     
  margin:8px 0;
  resize:none;
  display:block;
}
